*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#eef3fb;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar{
    background:#111827;
}

.hero{
    background:linear-gradient(135deg,#0f766e,#115e59);
    color:white;
    padding:60px 20px;
}

.hero h1{
    font-size:42px;
    font-weight:bold;
}

.hero p{
    font-size:18px;
}

.product-card{

    background:white;

    border-radius:18px;

    overflow:hidden;

    transition:.3s;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    height:100%;
}

.product-card:hover{

    transform:translateY(-8px);

}

.product-card img{

    width:100%;

    height:260px;

    object-fit:contain;

    background:white;

    padding:15px;

}

.product-body{

    padding:18px;

    text-align:center;

}

.product-body h5{

    font-size:18px;

    color:#111827;

    min-height:55px;

}

.product-body h4{

    color:#0f766e;

    font-weight:bold;

}